---
import { Icon } from "astro-icon";
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    About Me
  </h2>

  <p class="text-lg mt-4 text-slate-600">
    As said above my name is Helena Cala. I am a third year Write an about me 
 student and I have a passion for Chemistry and Computer Science. In my free time I enjoy to catch up on my studies as well as developing small projects. 
    I hope that through this website you can learn a bit more about me, my blogs and my work. 

   
  Thank you :)
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">

</div>
