---
import { Icon } from "astro-icon";
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    About Me
  </h2>

  <p class="text-lg mt-4 text-slate-600">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae enim ligula.
    Sed porta consequat dictum. Suspendisse vel eleifend dolor. Vivamus dictum
    purus auctor sodales cursus. Donec eu diam aliquam sapien finibus blandit
    vulputate ac diam. Morbi porta dolor quis consequat porttitor. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Ut vel nibh a nibh tristique aliquam sit amet nec risus. Maecenas nec massa
    eleifend nisl dapibus aliquet. Integer ac ligula in nisl porta pharetra.

  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">

</div>
