---
// @ts-ignore 
import { Icon } from "astro-icon";

const experience = [
  {
    title: "Chemistry Internship",
    description: 
      "During a summer internship within Maynooth University's Chemistry Department, I contributed to the synthesis of Fluorescent Probes designed for combating Multi-Drug Resistant Bacteria. This immersive experience significantly enhanced my proficiency in analytical chemistry, organic chemistry, and biochemistry. Throughout the internship, I gained hands-on expertise in utilizing sophisticated techniques, including NMR spectroscopy, rotary evaporators, and UV-Vis spectroscopy. \n",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Golang Algorithms",
    description:
      "As part of my personal projects, I've implemented sorting algorithms in Golang, including Bubble Sort, Selection Sort, Insertion Sort, Merge Sort, and Quick Sort. This coding experience highlights my practical skills and demonstrates my interest in working with fundamental algorithms. Please find these in my GitHub account.\n",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Java Algorithms",
    description:
      "I've also  implemented  sorting algorithms using Java. This hands-on experience includes crafting solutions for well-known methods like Bubble Sort, Selection Sort, Insertion Sort, Merge Sort, and Quick Sort. Through these coding exercises, I've refined my Java programming skills and demonstrated a passion for mastering fundamental algorithms in diverse contexts. Please find these in my GitHub account.\n",
    icon: "bx:bxs-briefcase",
  },
    
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    My experience
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Below are some of my favourite work experiences/projects.  
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    experience.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
